.row {
    max-width: inherit !important;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
}

.first-section-skills .first-section-skills-title {
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    text-align: center;
    display: block;
    position: absolute;
    z-index: 2;
    max-width: inherit;
    width: 100%;

    font-family: 'Bebas Neue', sans-serif;
    transform: translateY(-15vw);
}

.first-section-skills .first-section-skills-subtitle {
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1;
    text-align: center;
    display: block;
    position: absolute;
    z-index: 2;
    max-width: inherit;
    width: 100%;

    font-family: 'Bebas Neue', sans-serif !important;
    transform: translateY(13vw);
}

.first-section-skills-center {
    margin: auto !important;
    border-radius: 50%;
    width: 35vw !important;
    height: 35vw;
    transform: translateY(25px);
    padding: 0 !important;
    border: 0.5px dotted #3c1053;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.55) 0%, rgba(0, 0, 0, 0.85) 100%);
}

.first-section-skills-center-shadow {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 100%;
    opacity: 0.7;

    box-shadow: rgba(17, 17, 26, 0.4) 0px 4px 16px, rgba(17, 17, 26, 0.4) 0px 8px 24px, rgba(17, 17, 26, 0.4) 0px 16px 56px;

    background: radial-gradient(circle, rgba(173, 83, 137, 0.65) 0%, rgba(60, 16, 83, 0.95) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.33);
    background-size: 180% 180%;
    animation: gradient-animation 4s ease infinite;
}

.first-section-skills-center-shadow .first-section-skills-center-content {
    display: flex;
    height: 100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.first-section-skills-center-shadow .first-section-skills-center-content div {
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(-40px);
}

.first-section-skills-center-shadow .first-section-skills-center-content div h3 {
    font-weight: 700;
    font-size: 1.4vw;
    line-height: 1.6;
}

.first-section-skills-center-shadow .first-section-skills-center-content div p {
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 1.6;
}

.first-section-skills-center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first-section-skills-social {
    margin-left: auto;
    margin-right: auto;
    margin-top: 22vw;
    width: 20%;
    cursor: pointer;
}

.social-buttons {
    color: #fff;
    font-weight: 700;
    font-size: 1vw;
    margin-top: 40px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    margin-right: auto;
    border-radius: 100px;
    padding: 1vw 1vw;
}

.social-buttons div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#linkedin-social {
    border: 1px solid rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.35);

    transition: 0.3s ease-in-out;
}

#linkedin-social:hover {
    color: white;
    border: 0.5px solid rgba(60, 16, 83, 0.75);
    background: rgba(60, 16, 83, 0.75);
}