.first-section-about {
    margin-top: 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.first-section-about .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}

.first-section-about h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 30px;
    display: block;
}

.first-section-about p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.first-section-about .social-buttons {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 40px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    margin-right: auto;
    border-radius: 100px;
    padding: 20px 20px;
}

.first-section-about-image img {
    object-fit: cover;
    border-radius: 50%;
    height: 60vh;
    width: 70vh;
    object-position: 50% 20%;
    border: 10px solid white;
}

#github-social {
    border: 1px solid rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.35);

    transition: 0.3s ease-in-out;
}

#github-social:hover {
    border: 0.5px solid rgb(12, 66, 123);
    background: rgb(18, 93, 173);
}

#linkedin-social {
    border: 1px solid rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.35);

    transition: 0.3s ease-in-out;
}

#linkedin-social:hover {
    border: 0.5px solid rgb(19, 90, 167);
    background: rgba(13,42,133,1);
}

#mail-social {
    border: 1px solid rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.35);

    transition: 0.3s ease-in-out;
}

#mail-social:hover {
    border: 0.5px solid rgb(19, 132, 167);
    background: rgb(13, 133, 133);
}

#phone-social {
    border: 1px solid rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.35);

    transition: 0.3s ease-in-out;
}

#phone-social:hover {
    border: 0.5px solid rgb(19, 167, 46);
    background: rgb(13, 133, 109);
}

.left-social-button {
    margin-left: auto !important;
    margin-right: 70px !important;
}