.second-section-about {
    margin-top: 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
}

.second-section-about-work {
    display: grid;
    grid-gap: 50px;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;

    padding: 70px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 30px;
    border: 1px solid black;
}

.second-section-about .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}

.second-section-about h2 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 30px;
    text-align: center;
    display: block;

    transform: translateY(65px);
}

.second-section-about h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    display: block;
}

.second-section-about p {
    color: rgb(159, 159, 159);
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;

    transition: 0.6s ease-in-out;
}

.second-section-about button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 40px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    margin-right: auto;
    transition: 0.3s linear;
}
.date-line {
    margin-left: auto;
}

.second-section-about-right {
    padding-left: 0px;
}